/* Theme Variables */
:root {
    --primary-color: #7C9EB2;
    --secondary-color: #52528C;
    --background-color: #372554;
    --text-color: #7C9EB2;
    font-family: 'Roboto';

    --tab-width: 20%;
    --image-gap: 20px;
}

/* Base Styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

a, .button-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding-top: 20px;
}

/* Typography */
.content-page h1 {
    text-align: left;
}

/* Layout Components */
#tab-container {
    float: left;
    width: var(--tab-width);
    height: 100vh; /* Full height */
    padding: 40px 20px; /* Increased padding for spacing from screen edges */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center children vertically */
    gap: 10px; /* Adds space between buttons */
}

#content {
    margin-left: var(--tab-width);
    padding: 20px;
}

.profile-container {
    display: flex;
    gap: 20px; /* Space between elements */
    align-items: flex-start; /* Align items vertically */
}

.profile-photo {
    max-width: 40%;
    height: auto;
    object-fit: cover; /* If you want to crop the image to fill the size */
    border-radius: 10%; /* Optional: makes the image round */
}

/* Social Links */
.social-links {
    list-style: none; /* Removes default list styling */
    padding: var(--image-gap);
}

.social-links li a {
    display: flex;
    align-items: center; /* Aligns the icon and text vertically */
    gap: var(--image-gap); /* Spacing between icon and text */
    text-decoration: none; /* Optional: removes underline from links */
    color: var(--primary-color-color); /* Optional: link color inherits from parent */
    font-size: 2em; /* Adjusts the size of the text */
    background-color: var(--background-color);
}

.social-links li a:hover {
    text-decoration: underline; /* Optional: adds underline on hover */
}

.fab {
    font-size: 1.5em; /* Adjusts the size of the icons */
}

/* Base styles for all image containers */
.image-container {
    display: flex;
    justify-content: left; /* Align images to the left */
    /*align-items: flex-start; /* Align images to the top */
    gap: var(--image-gap); /* Space between the images */
    flex-wrap: wrap; /* Wrap the content if it exceeds the width */
  }
  
  /* Styles for the large landscape with two smaller landscapes */
  .large-landscape .large-image,
  .large-landscape .small-images {
    flex: 0 0 auto; /* Do not grow or shrink */
  }
  
  .large-landscape .large-image {
    max-width: 65%; /* Adjusted percentage */
  }
  
  .large-landscape .small-images {
    max-width: 30%; /* Adjusted percentage */
    display: flex;
    flex-direction: column;
    gap: var(--image-gap);
  }
  
  .large-landscape .small-image {
    max-width: 95%;
    height: auto;
  }
  
  /* Styles for three portraits side by side */
  .portrait-row .portrait-image {
    max-width: 30%; /* Equal width for each */
    height: auto;
  }
  
  /* Styles for one large portrait with two smaller landscapes */
  .mixed .large-portrait,
  .mixed .small-landscape-container {
    flex: 0 0 auto; /* Do not grow or shrink */
  }
  
  .mixed .large-portrait {
    max-width: 65%; /* Adjusted percentage */
  }
  
  .mixed .small-landscape-container {
    max-width: 30%; /* Adjusted percentage */
    gap: var(--image-gap);
  }
  
  .mixed .small-landscape {
    max-width: 100%;
    height: auto;
  }
  
  
  

/* Individual Components */
.tab {
    display: block;
    width: calc(100% - 40px); /* Adjust width to account for padding */
    padding: 15px 10px; /* Increased padding for a better look */
    text-align: center; /* Ensure text is centered */
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    border-radius: 20px; /* Rounded corners */
    transition: background-color 0.5s; /* Smooth transition for hover effect */
}

.tab:hover, .content-secondary {
    background-color: var(--secondary-color);
}